body {
    font-family:'Montserrat', sans-serif;
    font-size: 34px;
    padding: 0;
    margin: 0;
}

.navigation {
    width: 100%;
    background-color: #7A55C8;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: white;
    padding-top: 60px;
    padding-bottom: 48px;
}

.basket {
    background-color: white;
    border-radius: 20%;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 66%;
}

.main-phrase {
    margin: 0;
    background-color: #7A55C8;
    font-weight: 800;
    color: white;
    font-size: 92px;
    padding: 260px 77px 30px 77px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
}

.about_us {
    background-color: #4F85DB;
    color: white;
}

.main-phrase h2 {
    font-size: 85px;
    margin: 0;
    padding: 0;
}

.about_us .information {
    display: flex;
    gap: 50px;
    padding: 0 41px 106px 71px;
}

.information img {
    margin: auto;
}

.information h2 {
    font-size: 70px;
}

.text_info {
    width: 62%;
    text-align: justify;
}

.address {
    background-image: none;
}

.address p {
    width: 50%;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10px;
    background-color: #4F85DB;
    margin: 0;
    color: white;
}

.address img {
    width: 100%;
    margin: 0;
}

.equip  h2 {
    text-align: center;
    color: #7A55C8;
    font-size: 130px;
    margin: 25px;
}

.equip ul {
    display: flex;
    gap: 77px;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.equip .sell_item {
    list-style: none;
    border:  3px dashed #4F85DB;
    width: 250px;
    height: 350px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}

.sell_item a {
    text-decoration: none;
    color: black;
}

.sell_item a img {
    width: 215px;
    height: 220px;
    border: 2px solid #4F85DB;
    border-radius: 10%;
    margin: 15px;
}

.sell_item p {
    font-size: 28px;
    margin: 0 0 0 16px;
    text-align: left;
}

.sell_item span {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    margin-top: 10px;
}

.sell_item span a {
    color: #7A55C8;
}

.sell_item button {
    width: 100px;
    background-color: #7A55C8;
    color: white;
    border-radius: 12px;
}

.view_more button{
    width: 200px;
    height: 80px;
    background-color: white;
    color: #7A55C8;
    font-size: 32px;
    border-radius: 40px;
    border: 3px dashed #7A55C8;
}

.view_more {
    text-align: center;
    margin-bottom: 90px;
}

.shipping_and_payment {
    background-repeat: no-repeat;
    background-size: 78%;
    background-position-y: 80px;
    height: 900px;
}

.shipping_and_payment p {
    padding-left: 77px;
    text-align: left;
    width: 70%;
    padding-bottom: 50px;
}

.shipping_and_payment h2 {
    font-size: 85px;
    padding-left: 77px;
    color: #7A55C8;
}

.shipping_and_payment img {
    padding-top: 150px;
}

footer {
    background-color: #4F85DB;
}

footer div {
    text-align: center;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: white;
}